/**

~~~~~~~~~General~~~~~~~~~~~~

**/

body {
  background-color: #edefed;
}

.jumbotron, #nav_logo, #search, #first-content aside, #second-content, footer .container, #but, #social-medias, #logements figure {
  display: flex;
}

.jumbotron, #first-content aside, #second-content, footer .container, #but {
  flex-direction: column;
}

#first-content aside, #logements figure {
  justify-content: center;
  align-items: center;
}

#title, #first-content aside, #first-content aside button, #logements figure span, footer .container, footer .container a, #but select {
  color: white;
}

a:hover {
  text-decoration: none;
}
/**

~~~~~~~~~Header~~~~~~~~~~~~

**/


.jumbotron {
  height: 90vh;
  background-image: url(../img/family.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

#nav_logo {
  background-color: white;
  width: 100%;
}

#title h1 {
  font-size: 2.25em;
}

#title p {
  font-size: 1em;
}

/**

~~~~~~~~~Main content~~~~~~~~~~~~

**/

/**First section**/

#first-content {
  position: relative;
}

#first-content figure {
  height: 334px;
}

#first-content img {
  height: 100%;
}

#first-content aside {
  height: 334px;
  position: absolute;
  top: 0;
}

#first-content aside button {
  background-color: #007a87;
  border-radius: 2px;
}

#first-content aside h2 {
  font-size: 1.3em;
}

#first-content button {
  width: 90%;
}

/**Second section **/

#logements figure {
  height: 344px;
}

#logements figure span {
  font-size: 2em;
}

#gand {
  background-image: url(../img/gand.jpeg);
  background-position: center;
  background-size: cover;
}

#bruxelles {
  background-image: url(../img/bruxelles.jpg);
  background-position: center;
  background-size: cover;
}

#anvers {
  background-image: url(../img/anvers.jpg);
  background-position: center;
  background-size: cover;
}

#second-content h2, #second-content p {
  color: #484848;
}

/**

~~~~~~~~~Footer~~~~~~~~~~~~

**/

footer {
  background-color: #2b2d2e;
  background-image: url(../img/backrbnb.png);
  background-position: center;
  background-size: cover;
}

footer .container {
  justify-content: space-around;
}

footer .container a:hover {
  color: #484848;
}

#but select {
  background-color: #484848;
  border: 0px;
  border-radius: 0;
}

#social-medias {
 justify-content: space-around;
}

#facebook, #twitter, #in, #pinterest {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}

#social-medias a:hover {
  opacity: 0.5;
}

/**

~~~~~~~~~Responsive design~~~~~~~~~~~~

**/

/**Medium devices (tablets, 48em and up)**/
@media (min-width: 48em) {

/**General**/

#black-band, #wrap, #first-content, #logements, #lists {
  display: flex;
}

/**header**/
.jumbotron {
  height: 600px;
  padding-bottom: 0;
}

#nav_logo {
  background-color: transparent;
  flex-direction: row-reverse;
  justify-content:space-between;
}

#title h1 {
  font-size: 3.5em;
}

#title p {
  font-size: 1.25em;
}

nav {
  font-size: 0.9em;
}

nav .dropdown-menu {
  border-radius: 0px;
}

nav .dropdown-menu input {
  background-color: transparent;
  max-width: 300px;
  border: 0;
}

nav a, nav a:hover, nav a:focus {
  color: white;
}

nav ul li:nth-child(1) {
  border: 2px solid white;
  border-radius: 2px;
  padding: .4em;
}

nav ul li:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#black-band {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-around;
  align-items: center;
}

#search {
  flex-wrap: wrap;
}

#search input, #search select {
  max-width: 150px;
}

/**First section**/

#wrap {
  flex-direction: column;
  align-items: center;
}

#first-content {
  width: 90%;
}

#first-content figure {
  width: 66%;
  height: 270px;
}

#first-content figure img {
  width: 100%;
}

#first-content aside {
  height: 270px;
  color: #484848;
  background-color: white;
}

/**Second section**/
#second-content {
  width: 90%;
}

#logements {
  flex-wrap: wrap;
  justify-content: space-between;;
  width: 100%;
}

#gand {
  width: 100%;
}

#bruxelles, #anvers {
  width: 48%;
}

/**Footer**/
footer .container {
flex-direction: row;
flex-wrap: wrap;
}

#but {
  width: 20%;
}

#lists {
  justify-content: space-around;
  width: 70%;
}

#lists ul {
  list-style-type: none;
  font-size: 0.8em;
  width: 25%;
}

.head-ul {
  font-size: 1.2em;
}

footer div:nth-child(4) {
  width: 100%;
  border-top: 0.5px solid #484848;
}

#social-medias {
  justify-content: center;
}

}

@media (min-width: 54em) {

  #first-content, #second-content {
    width: 70%;
  }

}

/**Large devices (desktops, 62em and up)**/
@media (min-width: 62em) {

  #title h1 {
    font-size: 4.5em;
  }

  #black-band {
    height: 120px;
  }

  #search {
    width: 100%;
    justify-content: center;
  }

/** Main content**/
  #first-content, #second-content {
    width: 75%;
  }

  #first-content figure, #first-content aside {
    height: 350px;
  }

  #gand, #bruxelles, #anvers, #second-content button {
    width: 32%;
  }

  #second-content {
    align-items: center;
  }
}

@media (min-width: 90em) {

  #first-content, #second-content {
    width: 60%;
  }

  #first-content aside h2 {
    font-size: 1.75em;
  }
}
