/**

~~~~~~~~~General~~~~~~~~~~~~

**/

body {
  background-color: #edefed; 
}

.jumbotron {
  height: 90vh;
  padding-top: 0;
  background-image: url(../img/family.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nav_logo {
  background-color: white;
  width: 100%;
  display: flex;
}

#title {
  color: white;
  text-align: center;
}

#title h1 {
  font-size: 2.25em;
}

#title p {
  font-size: 1em;
}

#search {
  display: flex;
}

/**

~~~~~~~~~Responsive design~~~~~~~~~~~~

**/

/**Medium devices (tablets, 48em and up)**/
@media (min-width: 48em) {

.jumbotron {
  height: 600px;
  padding-bottom: 0;
}

#nav_logo {
  background-color: transparent;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#title h1 {
  font-size: 3.5em;
}

#title p {
  font-size: 1.25em;
}

nav {
  font-size: 0.9em;
}

nav a, nav a:hover {
  color: white;
}

nav ul li:nth-child(1) {
  border: 2px solid white;
  border-radius: 2px;
}

nav ul li:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#black-band {
  width: 100%;
  height: 150px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search {
  flex-wrap: wrap;
}

#search input, #search select {
  max-width: 150px;
}

}

/**Large devices (desktops, 62em and up)**/
@media (min-width: 62em) {

  #title h1 {
    font-size: 4.5em;
  }

  #black-band {
    height: 120px;
  }

  #search {
    width: 100%;
    justify-content: center;
  }
}
